.player{
    margin: 20px;
    text-align: center;
    
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
.match{
    margin: 5px;
    border: 1px solid lightgray;
    font-size: 12px;
    
}
.match.win{
    background-color: lightgreen;
}
.match.lose{
    background-color: lightcoral;
}
.match .summoner{
    margin-top: 1px;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.champion{
    padding: 5px;
    border: 1px solid lightgray;
}